.text__base {
  @apply text-base sm:text-lg md:text-xl xl:text-2xl;
  @apply leading-normal sm:leading-normal md:leading-normal xl:leading-normal;
}

.text__lg {
  @apply text-lg sm:text-xl md:text-2xl xl:text-3xl;
  @apply leading-normal sm:leading-normal md:leading-normal xl:leading-snug;
}

.text__xl {
  @apply text-xl sm:text-2xl md:text-3xl xl:text-4xl;
  @apply leading-normal sm:leading-normal md:leading-normal xl:leading-snug;
}
